body {
	background-color: #0f131a;
}

.heading {
	display: inline-block;
	color:darkgrey;
	font-family: 'Courier New', monospace;
	font-weight: 700;
	margin-top: 0px;
  	margin-right: 250px;
  	margin-left: 250px;
  	margin-bottom: 0px;
  	letter-spacing: 2px;
  	white-space: nowrap;
  	width: 11%;
  	height: 40px;
  	overflow: hidden;
  	border-right: 0.2em solid darkmagenta;
  	line-height: 0px;
  	animation:
  		blink 0.3s step-end infinite alternate,
  		typing 3s steps(8);
  }

@keyframes blink {
	50% { 
		border-color: transparent;
	}
}

@keyframes typing {

from {
	width: 0%;
}

}

.main_body {
	background-color: #0c0d14;
	color:darkgrey;
	font-family: 'Courier New', monospace;
	margin-top: 0px;
  	margin-right: 250px;
  	margin-left: 250px;
  	margin-bottom: 5px;
  	text-align: justify;
}